body{font-family: Cambria;
    border-style: double;
    outline-style: solid;
    outline-width: medium;
    outline-color: rgb(69, 116, 255); 
}
#header1 {
    text-align: center;
    color: rgb(69, 116, 255);
}

p {
    margin: 35px;
    text-align: center;
    font-size: 20px;
}

h2{
    text-align: center;
    color: rgb(69, 116, 255);
}