body{font-family: Verdana;
    border-style: double;
    outline-style: solid;
    outline-width: medium;
    outline-color: rgb(69, 116, 255); 
}
#header1 {
    text-align: center;
    color: rgb(69, 116, 255);
}

p {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    font-size: 18px;
    line-height: 1.75;
}

h2{
    text-align: center;
    color: rgb(69, 116, 255);
}

h3{

    text-align: center;
    color: rgb(69, 116, 255);
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;

}

#p1{


    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    font-size: 18px;
    line-height: 1.75;


}

#p2{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 200px;
    font-size: 18px;
}