body{font-family: Cambria;
    border-style: double;
    outline-style: solid;
    outline-width: medium;
    outline-color: rgb(69, 116, 255); 
}
#header1 {
    text-align: center;
    color: rgb(69, 116, 255);
}

p {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    font-size: 18px;
    line-height: 1.75;
}

h2{
    text-align: center;
    color: rgb(69, 116, 255);
}